:root {
    --color-background: #000;
    --color-primary: #111;
    --color-text: #fff;

    --max-width: 1400px;

    --font-family: monospace, sans-serif;
}

html, body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
}

.contents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    width: 65vw;
    min-width: 300px;
    max-width: var(--max-width);
    padding: 1rem;
    margin: 0 auto;
    font-size: 2rem;
    border: solid 1px var(--color-primary);
    border-radius: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.input-container div {
    width: 100%;
    text-align: center;
}

#countdown {
    font-size: 2rem;
    font-weight: 600;
    color: #999;
}

.hidden {
    display: none;
}